@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    -webkit-font-smoothing: antialiased;
    @apply bg-black text-green-500 text-sm font-sans;
}

.max-w-6xl {
    max-width: 80rem;
}

button, a {
    transition: background-color .1s ease-in-out, color .1s ease-in-out, opacity .1s ease-in-out;
}

.border-strike {
    @nest &:before {
        @apply absolute left-0 right-0;
        content: "";
        border: .5px dashed #333;
        top: 50%;
    }
}

[aria-current="page"].nav-item {
    @apply bg-green-500 text-black;
}

.tl-edges {
    overflow-x: inherit;
}