@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Inter:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@variants hover, group-hover {
    .box-shadow {
        box-shadow: inset 0 0 10px rgba(81, 205, 214,.35);
    }
    .box-shadow-light {
        box-shadow: inset 0 0 10px rgba(81, 205, 214,.15);
    }
}

body {
    -webkit-font-smoothing: antialiased;
    @apply bg-black text-green-500 text-sm font-sans;
}

.max-w-6xl {
    max-width: 80rem;
}

button, a, a .border-t, ul, a .ext-icon {
    transition: background-color .1s ease-in-out, color .1s ease-in-out, opacity .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, transform .1s ease-in-out;
}

.border-strike {
    @nest &:before {
        @apply absolute left-0 right-0 bg-gray-500;
        content: "";
        height: 1px;
        top: 50%;
    }
}

[aria-current="page"].nav-item {
    @apply border-green-500 text-green-500 bg-gray-800;
}

.tl-edges {
    overflow-x: inherit;
}

.inner-border {
    @apply relative;

    @nest &:before {
        @apply absolute border border-gray-700;
        content: "";
        left: 2px;
        right: 2px;
        bottom: 2px;
        top: 2px;
        transition: border-color .1s ease-in-out;
    }
}

.clickable-item.inner-border:hover:before {
    @apply border-green-500;
}

.ext-icon {
    transform: translateX(-50%);
}

.clickable-item:hover .ext-icon  {
    transform: translateX(0);
}

.clickable-item {
    @apply relative;
}

.clickable-item:hover {
    box-shadow: 0 0 25px 4px rgba(81, 205, 214, 0.25), 2px 2px 12px 1px rgba(81, 205, 214, 0.1);
}

.portrait {
    mix-blend-mode: hard-light;
}

.portrait-hover {
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.id-badge:hover .portrait-hover {
    opacity: 1;
}

.corner {
    transition: border-color .1s ease-in-out;
}

.corner.out.bottom-0 {
    bottom: -1px;
}

.corner.out.top-0 {
    top: -1px;
}

.corner.out.left-0 {
    left: -1px;
}

.corner.out.right-0 {
    right: -1px;
}