@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    left: 0;
    right: 0;
    top: 4.3rem;
  }

  @media (--media-min-small) {
    display: block;
  }
}

.showNav {
  display: block;
}
